.user-detail-header{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    min-width: 270px;
    // background-color: rgb(134, 134, 134);
    color: white;

    img{
        margin-bottom: -50px;
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
        background-color: rgb(134, 134, 134);
        box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2) ;
    }

    .user-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100px;

        h2{
            margin: 0;
        }
    }

    .job-role{
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px 20px;
        padding: 3px 6px;
    
        border: 1px solid white;
        border-radius: 7px;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2) inset;
    }

    .pin-right-upper-corner{
        position: absolute;
        right: 0;
        top: 0;
    }
}

.user-details-content{
    margin-top: -30px;
    padding-top: 50px;
    min-width: 270px;

    .pin-right-upper-corner{
        position: absolute;
        right: 0;
        top: 30px;
    }
}

@media screen and (max-width: 350px){
    .user-detail-header{
       
        img{
            width: 75px;
            height: 75px;
        }
    }

    .user-details-content{
        min-width: 270px;
    }
}
