<mat-card class="user-detail-header" [ngStyle]="{'background-color': jobRoleColor}">
    <button mat-icon-button class="pin-right-upper-corner" 
            [matMenuTriggerFor]="headerMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #headerMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
        <button mat-menu-item (click)="deleteUser()">Delete User</button>
    </mat-menu>

    <span class="job-role"> {{activeUser.jobRole}} </span>

    <div class="user-details">
        <h2> {{activeUser.firstName}} {{activeUser.lastName}} </h2>
        <span> {{activeUser.email}} </span> 
    </div>

    <img src="./assets/img/{{activeUser.avatar}}.png" alt="">
</mat-card>

<mat-card class="user-details-content">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>

    <mat-card-title>
        Address
    </mat-card-title>

    <mat-card-content>
        {{activeUser.street}}<br>
        {{activeUser.zipCode}} {{activeUser.city}}
    </mat-card-content>
</mat-card>
