.user-detail-header{
    display: flex;
    align-items: flex-end;
    min-height: 250px;
    background-color: rgb(168, 129, 0);
    color: white;

    img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    .user-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        height: 100px;
        margin-left: 32px;

        h2{
            margin-bottom: 0;
        }
    }
}

.pin-right-upper-corner{
    position: absolute;
    right: 0;
    top: 0;
}